.gallery-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2vw;
    padding: 0 2vw;
}
.gallery-items{
    margin: 10px 20px;
    width: 200px;
    height: 200px;
    border: 10px solid rgb(246, 246, 246);
    box-shadow: 5px 5px 5px #0006;
    
    transition: transform .5s linear;
}
.gallery-items img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.gallery-items:hover{
    transform: scale(1.1);
}


